<div class="botcard">
    <img class="avatar" src="<%= users.image %>" />
    <div class="wrapper">
        <div class="name">
            <%= users.name %>
        </div>
        <div class="author">
        <a href="<%= users.url %>"><%= users.url %></a>
        </div>
        <div class="desc">
            <%= users.description %>
        </div>
    </div>
    <div class="options">
        <a target="_blank" href="<%= users.discord %>">Join Server</a>
        <a target="_blank" href="<%= users.url %>">Visit Website</a>
    </div>
</div>
